

<div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="header">
        <mat-card-header class="mat-card-header">
            <mat-card-title class="mat-card-title">
                <div>
                    <mat-card-title class="fundoo" fxLayout="row" fxLayoutAlign="center center">
                      <div class="mat-card-header-text">
                          <span style="color: rgba(34, 34, 216, 0.788);">S</span>
                          <span style="color: rgba(209, 12, 22, 0.788);">I</span>
                          <span style="color: rgba(216, 143, 34, 0.788);">N</span>
                          <span style="color: rgba(34, 34, 216, 0.788);">G</span>
                          <span style="color: rgba(34, 216, 49, 0.788);">U</span>
                          <span style="color: rgba(216, 34, 164, 0.788);">P</span>
                      </div>
                    </mat-card-title>
                  </div>

            </mat-card-title>
        </mat-card-header>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="container-class">
                <div class="name-field" fxLayout="row" fxLayout.xs="column">
                    <mat-form-field floatLabel="auto" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput name="first_name" type="text" required formControlName="firstName">
                        <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">First Name is required</mat-error>
                    </mat-form-field>
        
                    <mat-form-field floatLabel="auto" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput name="last_name" type="text" required formControlName="lastName">
                        <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="email-field" fxLayout="row">
                    <mat-form-field floatLabel="auto" appearance="outline" class="email-mat-form-field">
                        <mat-label>Email</mat-label>
                        <input matInput name="email" type="email" required formControlName="email">
                        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">Email is required</mat-error>
                        <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Email must be a valid email address</mat-error>
                    </mat-form-field>
                </div>
        
                <div class="password-field" fxLayout="row" fxLayout.xs="column">
                    <mat-form-field floatLabel="auto" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input class="inputbutton" matInput name="password" type="password" required formControlName="password">
                        <mat-hint class="passwordhint" fxHide.xs>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 6 characters</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <mat-card-actions class="mat-card-actions">
                <a routerLink="/" class="signininstead"> Sign in instead </a>
                <button mat-raised-button class="mat-raised-button">Next</button>
            </mat-card-actions>
        </form>
        
    </div>

    <div fxHide.xs>
        <img src="../../../assets/accounts.JPG" class="sideimage" alt="" > <br>
        <mat-hint class="logohint">One account. All of Google working for you.</mat-hint>
    </div>
</div>
